/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2018, 4:28:11 PM
    Author     : vgalvoso
*/


#mainform #white_bg{
    position:fixed;
    background-color:#f7f9fa;
    opacity:0.7;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
}

#mainform #white_pop{
    background-color: #ffffff;
    position: fixed;
    border-radius: 4px;
    border: solid 1px #eaeaea;
    box-shadow: 0px 0px 3px;
    display:none;
    padding:2em;
}

#mainform input[type=text].drop_filter{
    background: #fafafa;
    color: #444f5d;
    border: 1px solid #eaeaea;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.09);
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 600;
    width:auto;
}

#mainform input[type=text].bugdet_inp{
    background: #fafafa;
    color: #444f5d;
    border: 1px solid #eaeaea;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.09);
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 600;
    width:45px;
}

input[type=date].text_box{
   background: #fafafa;
    color: #444f5d;
    border: 1px solid #eaeaea;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.09);
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 600;
    width:auto;
}

#assign_btn{
    display:none;
}

#done_btn{
    display:none;
}
