/* STYLESHEET FOR CALENDAR */
body {
	font-family: Roboto,RobotoDraft,Arial,sans-serif;
	font-size:12px;
	margin: 0px;
}

#main_header {
	width: 100%;
	height: 6%;
	z-index: 2;
	position:fixed;
	background-color: #F2F2F2;
	border-bottom-style: solid;
	border-color: #E0E0E0;
}

#toogle_button {
	margin-left: 3%;
	float: left;
	padding: 15px;
	height: 40%;
	transition-property: transform;
	transition-duration: 0.2s;
    transition-timing-function: ease;
}

#toogle_button:hover {
	background-color: #C0C0C0;
	border-radius: 500px;
}

#toogle_button_sml {
	float: left;
	padding: 4px;
	height: 2%;
}

#toogle_button_sml:hover {
	background-color: #C0C0C0;
}

input[type=text],input[type=date] {
	width:100%;
}

#weekdays, #weekends {
	width: 90px;
	color: #596063;
}


#weeks {
	position: fixed;
	width: 77.5%;
	height: 30px;
	margin-top: 0px;
	transition-property: width;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	border: none;
	border-collapse: collapse;
	color: #596063;
}

#calendar {
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}

#days {
    border: 2px solid #E0E0E0;
    vertical-align: top;
    height: 200px;
    width: 100px;
    max-width:100px;
    padding: 0px;
    text-align: left;
    cursor: pointer;
    color: #626063;
    font-family: Roboto,RobotoDraft,Arial,sans-serif;
    font-size:14px;
}

#days:hover {
	background-color: #E0E0E0;
}


.event {
	width: 94%;
	min-width:90px;
	background-color: #FCABAC;
	color: white;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 14px;
	padding: 0;
	padding-left: 4px;
	padding-right: 4px;
	font-weight: normal;
	border-radius: 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

	.event:hover {
		font-weight: normal;
		box-shadow: 0px 0px 15px 0px inset black;
		white-space:normal;
	}

a {
	font-family: Roboto,RobotoDraft,Arial,sans-serif;
	font-size:18px;
	text-decoration: none;
}

#header {
	background-color: #FFFFFF;
	border-width: 3px;
	border-bottom-style: solid;
	border-color: #E0E0E0;
	width: 100%;
	position: fixed;
}

#title {
	font-family: Roboto,RobotoDraft,Arial,sans-serif;
	font-size:36px;
    position: fixed;
    margin-top: 0.25em;
	margin-left: 1em;

}

#month {
	background-color: #FFFFFF;
	height: 100px;
	font-family: Roboto,RobotoDraft,Arial,sans-serif;
	font-size:24px;
}

#daily_container {
	height: 80%;
	overflow-y:auto;
	overflow-x:hidden;
	padding:0px;
}

#add_event {
	float: right;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

#add_event:hover {
	background: url('/img/plus_selected.png');
}

/* POP UP */

#pop_up_bg {
	visibility: hidden;
	z-index: 4;
	width: 95%;
	height: 95%;
	position: fixed;
        top:2em;
        left:2em;
}

#pop_up {
    visibility: hidden;
    background-color: #FFFFFF;
    z-index: 5;
    opacity: 1;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 3px 3px 10px #000000;
    width: 70%;
    height: 55%;
    overflow-y:hidden;
}

#close_button {
	position: relative;
	top: -10px;
	right: -10px;
	float: right;
	background-color: #D52626;
	padding-top: 15px;
	height: 50px;
	width: 50px;
	text-align: center;
	color: #FFFFFF;
	cursor: pointer;
}

#close_button:hover {
	background-color: #FF0000;
}

#project_name_container {
	background-color: #E0E0E0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 1px;
	padding-left: 10px;
	padding-bottom: 1px;
	padding-right: 3px;
}

#list_header
{
    position: fixed;
    margin-top:0px;
    width:75em;
    float:right;
    border:1px solid #cccccc;
    border-collapse: collapse;
    border-radius:10px;
    background-color:white;
    overflow: hidden;
}

#save_button {
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    cursor:pointer;
    vertical-align: bottom;
    position:relative;
    margin-right:25%;
    text-align: center;
    float: right;
    width: 50%;
    height: 9%;
    border: none;
    background-color: #295A8A;
    color: #FFFFFF;
    z-index:1;
}

#save_button:hover {
	box-shadow: 1px 1px 5px #000000;
}

.textbox {
	height: 1%;
	width: 100%;
	font-family: Roboto,RobotoDraft,Arial,sans-serif;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
}

#checklist1 {
	text-align: left;
	margin-left:0px;
}

/* PREVOUS MONTHS */

#prev_mo_head {
	margin-top: 15px;
}

#prev_mo {
	margin-top: 0px;
}

#pmh, #previous_month_ind {
	text-align: center;
}

#wks {
	width: 37px;
	height: 37px;
}

#prev_days {
	width: 37px;
	height: 37px;
}

#btn_prev_mon, #btn_next_mon {
	border: none;
	cursor: pointer;
	font-size: 20px;
	font-weight: bolder;
	background-color: #FFFFFF;
}

#thheader
{
	text-align:center;
	font-size:24px;
}

/* LEGENDS */

#legends {
	height: 0px;
	background-color: #003399;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	width: 99%;
	overflow-y: hidden;
}


#legends_b {
	height: 27px;
	background-color: #3498db;
	width: 99%;
	overflow: hidden;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	cursor: pointer;
}

#lol {
	color: #FFFFFF;
	font-family: Roboto,RobotoDraft,Arial,sans-serif;
	font-size: 16px;
	vertical-align: top;
	padding-left: 10px;
}

/* DEADLINE DETAILS */

#dldetails_b {
    height: 27px;
    background-color: #3498db;
    width: 99%;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    cursor: pointer;
}

/* Popup */

#datalist, #datalist2, #datalist_toclient {
    display: none;
    position: fixed;
    background-color: #FFFFFF;
    height: auto;
    width: 19%;
    overflow: auto;
    z-index: 2;
    max-height: 50%;
    border:solid 1px #cccccc;
    border-radius:2px;
}
#datalist h4, #datalist2 h4, #designer_list h4 {
    cursor: pointer;
    margin: 0px;
    margin-left: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color: #295A8A;
}
#datalist h4:focus, #datalist2 h4:hover, #designer_list h4:hover {
    background-color: #295A8A;
    color: white;
}
#designer_list {
    background-color:white;
    width:auto;
    position:fixed;
    height:auto;
    overflow:auto;
    max-height:50%;
    display:none;
    left:1em;
}

#phaselist {
	padding:0px;
	width:100px;
}

#fset_legends, #fset_filter_calendar {
	border-left: none;
	border-right: none;
	border-bottom: none;
}

	#fset_legends legend, #fset_filter_calendar legend {
		margin-left: auto;
		margin-right: auto;
	}

#arryn_exdl {
	background-color: #4c0056;
	border: solid 2px black;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#arryn_indl {
	background-color: #A74CAB;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#arryn_budget {
	background-color: white;
	color: black;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px #A74CAB;
	border-radius:100px;
}

#stark_exdl {
	background-color: #005878;
	border: solid 2px black;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#stark_indl {
	background-color: #00B0F0;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#stark_budget {
	background-color: white;
	color: black;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px #00B0F0;
	border-radius: 100px;
}

#lannister_exdl {
	background-color: #FF0000;
	border: solid 2px black;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#lannister_indl {
	background-color: #FF9999;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#lannister_budget {
	background-color: white;
	color: black;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px #FF9999;
	border-radius: 100px;
}

#tyrell_exdl {
	background-color: #497E10;
	border: solid 2px black;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#tyrell_indl {
	background-color: #92D050;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#tyrell_budget {
	background-color: white;
	color: black;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px #92D050;
	border-radius: 100px;
}

#baratheon_exdl {
	background-color: #FFC000;
	border: solid 2px black;
	color: #34495e;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#baratheon_indl {
	background-color: #FFFF99;
	color: #34495e;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#baratheon_budget {
	background-color: white;
	color: black;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px #FFFF99;
	border-radius: 100px;
}

#targaryen_exdl {
	background-color: #545454;
	border: solid 2px black;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#targaryen_indl {
	background-color: #A5A5A5;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#martell_exdl {
	background-color: #FC6600;
	border: solid 2px black;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#martell_indl {
	background-color: #F9812A;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#martell_budget {
	background-color: white;
	color: black;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px #F9812A;
	border-radius: 100px;
}

#mormont_exdl {
	background-color: #2E8B57;
	border: solid 2px black;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#mormont_indl {
    background-color: #8FBC8B;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#mormont_budget {
	background-color: white;
	color: black;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px #8FBC8B;
	border-radius: 100px;
}

#tully_exdl {
    background-color: #48260D;
    border: solid 2px black;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#tully_indl {
    background-color: #7C4700;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#tully_budget {
	background-color: white;
	color: black;
	text-align: center;
	cursor: pointer;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px #7C4700;
	border-radius: 100px;
}

#greyjoy_exdl {
    background-color: #016b67;
    border: solid 2px black;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#greyjoy_indl {
    background-color: #86d2e5;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#greyjoy_budget {
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #86d2e5;
    border-radius: 100px;
}

#targaryen_budget {
    background-color: white;
    color: black;
    text-align: center;
    cursor: pointer;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #A5A5A5;
    border-radius: 100px;
}

#budget_allocation {
	background-color: white;
	color: black;
	border: solid 2px #00b0f0;
	width: 80%;
	border-radius: 100px;
	text-align: center;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

#internal_list tr td input[type=date] {
	margin:0px;
	padding:4px;
	border:none;
}

#add_deadline{
    position:fixed;
    background-color:#ff0000;
    color:white;
    font-size:45px;
    width:50px;
    height:50px;
    right:0px;
    text-align:center;
    border-radius:100%;
    cursor:pointer;
    right:100px;
    bottom:50px;
    box-shadow:0px 2px 4px 0px black;
}
#add_deadline:hover{
    background-color:#ff9999;
}

#add_deadline:active{
    box-shadow:none;
    bottom:46px;
}

/*for pd.php*/
#pop_toclient_bg,#pop_billing_bg{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.7;
    background-color:#34495e;
    z-index:10;
}

#pop_toclient,#pop_billing{
    display:none;
    width:20%;
    height:300px;
    position:fixed;
    margin:10% 40%;
    background-color:white;
    border-radius:4px;
    box-shadow: 0px 0px 3px 0px;
    padding:10px;
    z-index:11;
}

#datalist_toclient h4{
    color:#295A8A;
    cursor:pointer;
    margin:0px;
    padding:2px 0px 2px 0px;
}

#datalist_toclient h4:hover{
    color:white;
    background-color:#295A8A;
    border-bottom:solid 1px white;
}

#datalist_toclient h4 hr{
    margin:0px;
    padding:0px;
    border:none;
    border-bottom:solid 1px #ccc;
    width:99%;
    margin:0 auto;
}


/*for pd.php*/
#pop_markasdone{
    display:none;
    position:fixed;
    width:auto;
    background-color:white;
    border-radius:4px;
    box-shadow:0px 0px 4px 0px;
    cursor:pointer;
    padding:10px;
    text-align:center;
    margin-top:20%;
    margin-left:40%;
  }
  
  #markdoneyes_btn,#markdoneno_btn{
      width:40%;
  }