/* STYLESHEET FOR CHANGE PASS */

body {
	margin: 0px;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 12px; 
	overflow: hidden;
}

#labels {
	float: right;
	padding-left: 20px;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 12px;
	margin: 3px;
	padding: 3px;
}

#newpassword {
	float: right;
	padding-right: 30px;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 12px;
	width: 200px;
	margin: 3px;
	padding: 3px;
}

#hints {
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 12px;
	float: right;
}

#pic_selected {
	float: right;
	padding-right: 30px;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 12px;
	width: 200px;
	margin: 3px;
	background-color: #ccccc0;	
}

#edit_account {
	background-color: #f2f2f2;
	padding: 15px;
	width: 30%;
	margin-top: 5%;
	margin-bottom:10%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 1px 5px #000000;
}

#pic_preview {
	width:	150px;
	height: 150px;
	border-radius: 500px;
	padding: 5px;
	margin: 3px;
	object-fit: cover;
	shape-rendering: crispEdges;
}

#form_action {
	border: none;
	padding: 5px;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 16px;
	margin-top: 15px;
	color: #f2f2f2;
	background-color: #03a9f4;
	border-radius: 5px;
	transition-property: color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

#form_action:hover {
	background-color: #01579b;
	color: #FFFFFF;
}

#m_a {
	margin-bottom: 3px;
}