﻿table {
	width: 100%;
	border-collapse: collapse;
}

caption {
	text-align:left;
	width:100%;
}

thead {
	display: block;
	width: 100%;
	overflow: auto;
	color: #515151;
}

tbody {
	display: block;
	width: 100%;
	height: 99%;
}
tr {
	display:block;
	width:100%;
	height:99%;
}

.days {
	display: inline-block;
	width: 13.7%;
	height: 250px;
	border: solid 2px #f2f2f2;
	color: #515151;
}

.indeadline {
	background-color: red;
	color: white;
	text-align: center;
	cursor: pointer;
	margin:0px;
}

	.indeadline:hover {
		font-weight:bold;
	}