/* STYLESHEET FOR THE HEADER */
#logo
{
	height: 70%;
        width: 150px;
	margin-left:20px;
        margin-top:8px;
	display:inline-block;
}

#mainheader
{
	z-index: 4;
	margin-top:0;
	top:0;
	width:100%;
	height: 60px;
	background-color: #0747a6;
	min-width:298px;
	position:fixed;
}

#avatar	{
	width:	100px;
	background-color: #FFFFFF;
	height: 100px;
	border-radius: 500px;
	margin: 3px;
	object-fit: cover;
	cursor: pointer;
	shape-rendering: crispEdges;
	transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#avatar:hover {
	box-shadow: 0px 0px 20px #000000;
}

#mini_avatar {
	border-radius: 500px;
	padding: 2%;
	margin: 3px;
	object-fit: cover;
	height:90%;
	shape-rendering: crispEdges;
}
	#mini_avatar:hover {
		background-color: #08367C;
	}

#notif {
	padding: 0px;
	margin: 3px;
	shape-rendering: crispEdges;
	border-radius:100%;
	height:90%;
	/*-webkit-animation: ring 1s linear 0s infinite alternate;
	animation: ring 1s linear 0s infinite alternate;
	*/
}
	#notif:hover {
		background-color: #08367C;
	}

#notifcount {
	cursor: pointer;
	vertical-align: top;
	position: absolute;
	background-color: red;
	padding-top: 2px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
	font-size: 12px;
	border-radius: 10%;
	z-index:4;
}

.icons {
	height: 40px;
	width: 40px;
}

.icons:hover {
	cursor: pointer;
}

#profile_glimpse {
	padding-top:0.1%;
	float: right;
	clear: both;
	width: 150px;
	height: 70%;
	/*#0747a6*/
	background-color: #0747a6;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	min-height:25px;
}

#view_profile {
	overflow: hidden;
	float: right;
	clear: both;
	z-index:5;
	background-color: #FFFFFF;
	height: 0px;
	width: 300px;
	max-width:280px;
	margin: 0px;
	transition-property: height, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#profile_content {
	margin: 0px;
}

#profile_menu_option {
	background-color: #CACFD2;
	padding: 0px;
	margin: 0px;
	transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

#profile_menu_option:hover {
	background-color: #626567;
}

#nav_bar {
	background-color: SteelBlue;
	padding: 5px;
	height: 70px;
	margin:0px;
}

#nav_btn {
    color: #000000;
    text-decoration: none;
    font-family: "Roboto", "Roboto", sans-serif;
    font-size: 15px;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition-property: background-color,padding , color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

#nav_btn:hover {
	color: #FFFFFF;
	background-color: #626567;
	width: 100%;
}

#close_window {
	width: 20px;
	border-radius: 500px;
	padding: 7px;
	margin: 5px;
	background-color: Gainsboro;
	opacity: 0.5;
	transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
	cursor: pointer;
}

#close_window:hover {
	opacity: 0.8;
}

/*
input[type=text], textarea {
	width: 100%;
	padding: 4%;
	font-family: Roboto,RobotoDraft,Arial,sans-serif;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	overflow: hidden;
	resize: none;
}
*/


#view_notification {
	opacity: 0;
	clear: both;
	float: right;
	width: 300px;
	height: 0px;
	max-width:280px;
	z-index: 5;
	background-color: white;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#notif_header {
	cursor: auto;
	text-align: center;
	background-color: #3498DB;
	font-family: 'Arial Unicode MS',Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: white;
	width: 100%;
	border: none;
	padding: 10px;
	transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#notif_info {
	cursor: pointer;
	border: none;
	float: right;
	margin-top: 5px;
	margin-left: 5px;
	background-color: #ffecb3;
	font-family: 'Arial Unicode MS',Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 100%;
	resize: none;
	text-overflow: ellipsis;
}

#ackbtn {
	vertical-align: top;
	border: none;
	float: left;
	color: #FFFFFF;
	padding: 6px;
	border-radius: 0px 50px 50px 0px;
	background-color: #03a9f4;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 12px;
	transition-property: background-color;
	transition-duration: 0.2s;
    transition-timing-function: linear;
}

#ackbtn:hover {
	background-color: #01579b;
}

#notif_container {
    width: 100%;
    height: 0px;
    background-color:  #f2f2f2;
    overflow-y:	auto;
    overflow-x:	hidden;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#notif_container::-moz-scrollbar {
    display: none;
}

#notif_table {
    width:100%;
    margin-left: 5px;
    border-collapse: collapse;
    border: none;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#active_page{
    position:absolute;
    top:12px;
    margin:0 43%;
    width:200px;
    color:#deebff;
    font-size:20px;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    font-family: "Avenir LT Std 55 Roman",sans-serif;
    padding: 5px;    
    background-color: #05357c;
    transition: 0.4s;
    
}
/* -------------------------------- */