@font-face {
    font-family: "Product Sans";
    src: url("../font/Product Sans Bold Italic.ttf");
    src: url("../font/Product Sans Italic.ttf");
    src: url("../font/Product Sans Bold.ttf");
    src: url("../font/Product Sans Regular.ttf");
}

body{
	margin:0px;
	padding:0px;
	background-color:#f7f9fa;
	color:#515151;
	font-family: "Product Sans";
}

/* For Box */
.mainheader{
	position:sticky;
	top:0;
	background-color:#0747a6;
}

.mainbox{
	width:60%;
	margin:0 auto;
}

.box{
	display:block;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #eaeaea;
	padding: 26px 34px;
	margin: 1%;
	text-align:right;
	padding-right:20%;
}

/* For display */
.inline-block{
	display:inline-block;
}

.block{
	display:block
}

.inline{
	display:inline;
}

/*For Text*/
.department-lbl {
    font-family: "Product Sans";
    font-size: 3em;
    font-weight: bold;
    padding-left: 7px;
}

.normal-text{
	font-size:12px;
}

.big-text{
	font-size:25px;
}

.right-text{
	text-align:right;
}

.left-text{
	
	text-align:left;
}

.center-text{
	text-align:center;
}
/* For Text Box */
.textbox{
    padding:4px;
    border-radius:2px;
    border:solid 1px #dfe1e5;
    font-size:15px;
    font-family: "Product Sans";
}

/* For Select */
.select{
	padding:4px;
	border-radius:2px;
	border:solid 1px #dfe1e5;
	font-size:1em;
        font-family: "Product Sans";
	cursor:pointer;
}

/* For Textarea */
.textarea{
	padding:4px;
	border-radius:2px;
	border:solid 1px #dfe1e5;
	font-size:1em;
    font-family: "Product Sans";
}

/* For image */
.aco-white-logo{
	height: 70%;
    width: 150px;
    margin-left: 20px;
    display: inline-block;
	margin-top:4px;
	margin-bottom:4px;
}

/* For line */
.hline{
	border:none;
	border-bottom:1px solid #ececec;
}

/* For ul */
.mainbox .box ul{
	list-style-type:none;
	display:inline-block;
}

/* For Button */
.normal-btn{
	border-radius:4px;
	cursor:pointer;
	border:none;
	padding:4px;
}

.normal-btn:hover{
	filter:brightness(75%);
}

.big-btn{
	border-radius:4px;
	cursor:pointer;
	border:none;
	padding:4px;
	font-size:18px;
	align-self:right;
}

.big-btn:hover{
	filter:brightness(75%);
}

/*Colors*/
.red{
	color:#ed1c26;
}

.blue{
	color:#3399FF;
}

.green {
	color: #4caf50;
}

.white{
	color:white;
}

/* Font */
.bold{
	font-weight:bold;
}

.normal{
	font-weight:normal;
}

/* Background-Colors */


.bg-red{
	background-color:#ed1c26;
}

.bg-blue{
	background-color:#3399FF;
}

.bg-green {
	background-color: #4caf50;
}

/* For event */

.clickme{
	cursor:pointer;
}

.clickme:hover{
	text-decoration:underline;
}



/* Specified Elements */
 

 /* Date selector it.php */
 #date_needed{
	 display:none;
 } 
 /* For table th and td inside .box */
 .box ul li table tr th,.box ul li table tr td{
    padding-left:10px;
    padding-right:10px;
    text-align:right;
 }
 /* Pop Up */
 #kiosk_popup{
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    margin:0px;
    top:60px;
    left:0px;
    background-color:#f7f9fa;
 }
 
 /* Back Button */
 #back_btn{
    position:fixed;
    display:none;
    border:none;
    background-color:#0747a6;
    border-radius:100%;
    color:white;
    width:50px;
    height:50px;
    margin:10px;
    font-size:25px;
    font-weight:bold;
    transition: 0.4s;
    cursor:pointer;
    z-index:10;
 }
 
 #back_btn:hover{
    filter:brightness(75%);
 }
 
 /* bar1 */
 .nbar1{
      width: 15px;
      height: 3px;
      background-color: #deebff;
      margin: 6px 0;
      transition: 0.4s;
      border-radius:2px;
      -webkit-transform: rotate(-45deg) translate(0px, 21px);
      transform: rotate(-45deg) translate(0px, 21px);
 }
 
 .nbar2{
      width: 15px;
      height: 3px;
      background-color: #deebff;
      margin: 6px 0;
      transition: 0.4s;
      border-radius:2px;
      -webkit-transform: rotate(45deg) translate(21px, 0px);
      transform: rotate(45deg) translate(21px, 0px);
 }
 
 .clicked .nbar1 {
      -webkit-transform: rotate(-45deg) translate(-10px, 11px);
      transform: rotate(-45deg) translate(-10px, 11px);
     
 }
 .clicked .nbar2 {
    -webkit-transform: rotate(-45deg) translate(11px, 10px);
    transform: rotate(45deg) translate(11px, 10px);  
 }
 
 
 
 /* file upload */
 input[type=file]#file_upload{
    margin: 8px 0px 8px 0px;
 }
 
 
/* END of Specified Elements */

 /* For Link */
 .button_link{
	text-decoration:none; 
 }
 
 /* For hidden elements */
 .hide{
	 display:none;
 }
 
 /*For Width*/
 .w100pc{
	 width:100%;
 }
 
 
 /* For padding */
 .pr100px{
     padding-right:100px;
 }
 