.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
	margin-top: 19em;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader_bg {
	visibility: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #9C9C9C;
}