/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 1, 2019, 2:04:08 PM
    Author     : vgalvoso
*/
.modal-bg{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#6f7e8d;
    z-index:10;
    overflow:auto;
    opacity:0.8;
}

.modal{
    display:none;
    width:20%;
    height:430px;
    position:fixed;
    background-color:white;
    border-radius:4px;
    box-shadow: 0px 0px 3px 0px;
    padding:10px;
    z-index:11;
}

.action-bar{
    display:none;
    position:fixed;
    top:10px;
    left:10px;
    height:auto;
    width:50px;
    background-color:#0747a6;
    border-radius:4px;
    padding:0px;
    cursor:pointer;
    z-index:11;
}

.action-bar li{
    padding:5px;
    border-radius:4px;
    text-align:center;
}

.action-bar li:hover{
    background-color:#05357c;
}

.action-bar li img{
    width:40px;
    height:40px;
}

.action-bar li img:hover{
    transform: scale(1.2);
}

.action-bar li label{
    color:#deebff;
}