
/*width*/
.w10pc{
    width:10%;
}
.w15pc{
    width:15%;
}
.w20pc{
    width:20%;
}
.w25pc{
    width:25%;
}
.w30pc{
    width:30%;
}
.w35pc{
    width:35%;
}
.w40pc{
    width:40%;
}
.w45pc{
    width:45%;
}
.w50pc{
    width:50%;
}
.w55pc{
    width:55%;
}
.w60pc{
    width:60%;
}
.w65pc{
    width:65%;
}
.w70pc{
    width:70%;
}
.w75pc{
    width:75%;
}
.w80pc{
    width:80%;
}
.w85pc{
    width:85%;
}
.w90pc{
    width:90%;
}
.w95pc{
    width:95%;
}
.w100pc{
    width:100%;
}
.wauto{
    width:auto;
}

/*height*/
.h10pc{
    height:10%;
}
.h15pc{
    height:15%;
}
.h20pc{
    height:20%;
}
.h25pc{
    height:25%;
}
.h30pc{
    height:30%;
}
.h35pc{
    height:35%;
}
.h40pc{
    height:40%;
}
.h45pc{
    height:45%;
}
.h50pc{
    height:50%;
}
.h55pc{
    height:55%;
}
.h60pc{
    height:60%;
}
.h65pc{
    height:65%;
}
.h70pc{
    height:70%;
}
.h75pc{
    height:75%;
}
.h80pc{
    height:80%;
}
.h85pc{
    height:85%;
}
.h90pc{
    height:90%;
}
.h95pc{
    height:95%;
}
.h100pc{
    height:100%;
}
.hauto{
    height:auto;
}

/* Font Size px*/
.fs11px{
    font-size:11px;
}
.fs12px{
    font-size:12px;
}
.fs16px{
    font-size:16px;
}
.fs18px{
    font-size:18px;
}
.fs20px{
    font-size:20px;
}
.fs24px{
    font-size:24px;
}
.fs26px{
    font-size:26px;
}
.fs32px{
    font-size:32px;
}
.fs36px{
    font-size:36px;
}
.fs40px{
    font-size:40px;
}

/* Font weight */
.bold{
    font-weight:bold;
}
.normal{
    font-weight:normal;
}