#rating_bg{
  position:fixed;
  display:none;
  background-color:#ffffff;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  opacity:0.8;
  z-index:100;
}

#rating_container{
    position:fixed;
  display:none;
    background-color:#ffffff;
    z-index:101;
    top:-60px;
    width:43%;
    margin-top: 10%;
    margin-left:30%;
    padding:1em;
    border-radius: 4px;
    border: solid 1px #eaeaea;
    box-shadow: 0px 0px 3px;
    text-align:center;
    min-width:500px;
}

.average_container{
    display:inline-block;
}

#rating_group{
    display:block;
}

.rating{
    display:inline-block;
}

.star{
  margin:3%; 
  cursor:pointer;
}

#average_lbl{
    font-size:118px;
    width:300px;
    height:300px;
    top:17%;
    left:42%;
    color:white;
    text-shadow:3px 3px 5px #cecece ;
    text-align:center;
    width:100%;
    height:100%;
    padding-top:100px;
}

#average_star{
    width:300px;
    height:300px;
    background-image: url("../img/big-star-y.png");
}

#average_value{
    margin-top:100px;
}