/* STYLESHEET FOR SIDEBAR */

#side_bar {
	position:fixed;
	background-color: #34495E;
	z-index: 3;
	overflow: hidden;
	width: 35px;
	height: 100%;
	font-family: "Arial Unicode MS",Arial, Helvetica, sans-serif;
	font-size:14px;
	margin: 0px;
	margin-top:55px;
	padding:0px;
}

#side_bar td {	
	padding: 4px;
}

#sidebar_menu_container {
	background-color: #FFCCBA;
	width: 100px;
	position: relative;
}

#sidebar_menu {
	margin-top: 25px;
	color: #E5EAEF;
	border-collapse: collapse;
	position: relative;
	overflow: none;
	width:100%;
}

#menu_item0,#menu_item1, #menu_item2, #menu_item3, #menu_item4 {
	background-color: #2874A6;
	visibility: hidden;
}

#menu_item_logo0, #menu_item_logo1, #menu_item_logo2, #menu_item_logo3, #menu_item_logo4, #menu_item_logo5 {
	background-color: #3498DB;
	border-left: 5px solid #34495E;
	height: 100px;
	width: 100px;
	margin-top: 0px;
	padding: 0px;
	vertical-align: top;
	text-align: center;
	font-family: "Arial Unicode MS",Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-shadow: 1px 1px 5px #000000;
	cursor: pointer;
	-ms-transform: rotate(27deg); /* IE 9 */
	-webkit-transform: rotate(270deg); /* Safari */
	transform: rotate(270deg);
}

#tab0,#tab1,#tab2,#tab3,#tab4,#tab5{
	cursor:pointer;
}

#menu_item_logo0:hover {
	background-color: #21618C;
}

#menu_item_logo1:hover {
	background-color: #21618C;
}

#menu_item_logo2:hover {
	background-color: #21618C;
}

#menu_item_logo3:hover {
	background-color: #21618C;
}

#menu_item_logo4:hover {
	background-color: #21618C;
}

#menu_item_logo5:hover {
	background-color: #21618C;
}