@font-face {
    font-family: "Product Sans";
    src: url("../font/Product Sans Bold Italic.ttf");
    src: url("../font/Product Sans Italic.ttf");
    src: url("../font/Product Sans Bold.ttf");
    src: url("../font/Product Sans Regular.ttf");
}

body {
    padding: 0;
    margin: 0;
    background-color: #f7f9fa;
    font-family: "Product Sans", sans-serif;
    font-size: 12px;
    color: #515151;
}

#logo
{
    height:100%;
    margin-left:1%;
    display:inline-block;
}

#navbar{
    position:fixed;
    width:30%;
    height:25px;
    min-width:350px;
    right:200px;
    top:15px;
}

#navbar tr td{
    text-align:center;
    color:#deebff;
    cursor:pointer;
    font-size:14px;
    font-weight:bold;
    box-shadow:0px 0px 1px 2px #deebff inset;
    border-radius:4px;
    font-family:"Avenir LT Std 55 Roman",sans-serif;
    margin:0px;
    padding:5px;
}

#navbar tr td:hover{
    background-color: #deebff;
    color:#0747a6;
}


#edit_password
{
	visibility:hidden;
	float:right;
	padding:0;
	margin:0;
	margin-left:80%;
	box-shadow: 0px 5px 5px 0px gray;
}

#activity_summary
{
	visibility:hidden;
	float:right;
	padding:0;
	margin:0;
	margin-left:80%;
	box-shadow: 0px 5px 5px 0px gray;
}

#mainform {
	width: 99%;
	height: auto;
	display: inline-block;
	margin: 0px;
	margin-top: 60px;
	padding-left: 1em;
	background-color: #f7f9fa;
}
#mainform h1
{
	font-family: "Avenir LT Std 55 Roman",sans-serif;
	font-size:24px;
	padding:0;
	margin:0;
}
#mainform h2
{
	font-family: "Avenir LT Std 55 Roman",sans-serif;
	font-size:20px;
	padding:0;
	margin-bottom:0;
}
#mainform h3
{
    font-family: "Avenir LT Std 55 Roman",sans-serif;
    font-size:15px;
    margin-top:0;
    padding:0;
    margin-bottom:10px;
}
#mainform input[type=text],textarea,input[type=number]
{
    width: 100%;
    padding:4%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    overflow:hidden;
    resize:none;
    font-family:"Avenir LT Std 55 Roman",sans-serif;
    font-size:14px;
}

textarea {
    resize:vertical;
    min-height:75px;
    font-family:"Avenir LT Std 55 Roman",sans-serif;
    font-size:14px;
}


input[type=time],input[type=date]
{
    padding:4px;
    font-family: "Avenir LT Std 55 Roman",sans-serif;
    font-size:14px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    overflow:hidden;
    background-color:white;
    text-align:center;
    min-width:110px;
}
#mainform input[type=number]
{
    padding:4px;
    font-family: "Avenir LT Std 55 Roman",sans-serif;
    font-size:14px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    overflow:hidden;
    background-color:white;
    text-align:center;
    min-width:110px;
}
select{
   padding:4px; 
   font-family:"Avenir LT Std 55 Roman",sans-serif;
}
select option:nth-child(even){
   background-color:#eeeeee;
   
}
#mainform #label2
{
	margin-left:30%;
}
#mainform #inptext2
{
	margin-left:2%;
}

#addbtn
{
	padding:4%;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
	width:16%;
	font-family: "Avenir LT Std 55 Roman",sans-serif;
	color:white;
  font-size: 17px;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  outline: none;
  background-color: #3e8e41;
  border: none;
  min-width: 50px;
}
#addbtn:hover
{
	background-color: #2A941F;
	box-shadow: 1px 1px 5px #000000;
}
#addbtn:active {
  background-color: DarkBlue;
}
.h1{
    font-family:"Product Sans";
    display:inline-block;
    font-size:20px;
    font-weight:bold;
}
.h2{
    font-family:"Product Sans";
    font-size: 18px;
    font-weight: 900;
}

.h3{
    font-family:"Product Sans";
    display:inline-block;
    font-weight:bold;
    font-size:14px;
}

.text{
    font-family:"Avenir LT Std 55 Roman",sans-serif;
    font-size:14px;
}

.title{
    font-family:"Product Sans";
    font-size:14px;
    font-weight:bold;
    padding-left:7px;
}
#info {
	margin: 0;
	padding: 0px;
	display: inline-block;
	float: left;
	width: 18.5%;
	height: 99%;
	z-index: 0;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	overflow: auto;
        padding-right:0.5em;
        padding-top:0.5em;
	max-width: 360px;
}

#list {
	margin-right: 0px;
	padding: 0;
        padding-top:0.5em;
        padding-left:0.5em;
	width: 80%;
	display: inline-block;
	float: left;
	background-color: #f7f9fa;
	height: auto;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	resize: horizontal;
}

#dates {
	height:300px;
}

hr {
	border-color: #cccccc;
}

#list input[type=time]{
	font-size:14px;
	border-style: none;
	margin: 0px;
}

#list input[type=text]{
	font-size:14px;
	border-style: none;
	margin: 0px;
}
/* REVIEWER TABLE */
#reviewlist {
	width:auto;
	border-collapse:collapse;
}

	#reviewlist thead {
		width:1426px;
	}	

	#reviewlist thead th{
		background-color: #0747a6;
		color: white;
	}

	#reviewlist td {
		font-size:19px;
		width:10%;
	}


	#reviewlist input[type=date], #reviewlist input[type=time] {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

        #introtext{
            position:fixed;
            font-size:50px;
            color:white;
            top:45%;
            left:200px;
            font-family:'Product Sans',sans-serif;
        }
        
#wholebg{
    position:fixed;
    top:0px;
    width:100%;
    height:100%;
    background-color:black;
    opacity:0.2;
    z-index:-10;
}

#loginmainheader
{
	margin:0;
	width:100%;
	height:55px;
	background-color:DarkBlue;
}

#login {
	background-color: rgba(255, 255, 255);
	font-family: Roboto,RobotoDraft,Arial,sans-serif;
	font-size: 20px;
	width: 350px;
	height: 450px;
	padding-top: 10px;
	padding-bottom: 1%;
        float:right;
        margin-right:100px;
        box-shadow:00px 0px 15px 0px;
        border-top:solid 5px #0747a6;
}

#login form{
    margin-top:50px;
}

#loginuname{
   /* background-image:url("../img/user.png"); */
    background-repeat:no-repeat;
    background-size:auto 50%;
    background-position:5px center;
}

#loginpassword{
   /* background-image:url("../img/pass.png"); */
    background-repeat:no-repeat;
    background-size:auto 50%;
    background-position:5px center;
    
}

#loginuname, #loginpassword {
	display: block;
	width: 80%;
	padding-top: 12px;
	padding-bottom: 12px;
        padding-left:30px;
	border: 1px solid #ccc;
        border-radius: 4px;
	box-sizing: border-box;
	font-family: "Avenir LT Std 45 Book",sans-serif;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
        color:#444f5d;
        font-weight:bold;
}
#loginbtn {
	display: block;
	width: 80%;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 3%;
	font-family: Roboto,RobotoDraft,Arial,sans-serif;
	color: white;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	background-color: #0747a6;
	border: none;
        border-radius: 4px;
	min-width:100px;
	margin-left: auto;
	margin-right: auto;
        font-weight:bold;
}
#loginlbl {
    margin-top:0px;
    width:100%;
    text-align:center;
    color:#0747a6;
    font-family:"Product Sans";
    font-size:22px;
}

.header
{
	background-color: 0070c0;
	height:5%;
}
#title
{
	margin-left:30%;
	font-family: Roboto,RobotoDraft,Arial,sans-serif;
	font-size:30px;
	color:white;
}

#deleteBtn {
    font-family: Roboto,RobotoDraft,Arial,sans-serif;
    font-size: 12px;
    color: white;
    display: inline-block;
    margin-left: 1px;
    padding: 6.5px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: CC0000;
    border: none;
    border-radius: 5px;
}
#deleteBtn:hover
{
	background-color: #990000;
}
#deleteBtn:active
{
  background-color: 660000;
}


.editbtn,#editbtn,#donebtn {
	font-family: Roboto,RobotoDraft,Arial,sans-serif;
	font-size: 12px;
	color: white;
	display: inline-block;
	margin-left: 3px;
	padding: 6.5px 10px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: #3498db;
	border: none;
	border-radius: 5px;
}
	.editbtn:hover, #editbtn:hover, #donebtn:hover {
		background-color: #3C7FB1;
	}
	.editbtn:active, #editbtn:active, #donebtn:active {
		background-color: DarkBlue;
	}


#footer {
	position: fixed;
	width: 100%;
	height: 10%;
	bottom: 0;
	min-width: 298px;
	background-color: #0747a6;
}
#newpassword
{
	width: 70%;
    padding: 12px 20px;
    margin-left:15%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-family: Roboto,RobotoDraft,Arial,sans-serif;
	font-size:15px;
}
#cancelbtn
{
	margin-left:37%;
	width:25%;
	height:20%;
	border-radius:20px;
	font-family: Roboto,RobotoDraft,Arial,sans-serif;
	color:white;
    display: inline-block;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  background-color: DarkBlue;
  border: none;
}


#star1,#star2,#star3,#star4,#star5
{
	width:10%;
	height:5%;
	margin-right:3%;
	margin-top:2%;
	margin-bottom:2%;
}

#star1:hover,#star2:hover,#star3:hover,#star4:hover,#star5:hover
{
	cursor:pointer;
}

#topic {
	display: inline-block;
	float: left;
	margin-right: 1%;
	width: 23.5%;
	border-right: solid 1px #cccccc;
	min-width:280px;
}

/* OB SCRIPTS */

#gen_ob
{
  padding:4%;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  width:82%;
  font-family: Roboto,RobotoDraft,Arial,sans-serif;
  color:white;
  font-size: 17px;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  outline: none;
  background-color: #3e8e41;
  border: none;
}

#gen_ob:hover
{
	background-color: #2A941F;
	box-shadow: 1px 1px 5px #000000;
}

#ob_date {
	width: 100%;
}

button {
	cursor:pointer;
}

#submit1 {
	border: none;
	border-radius: 3px;
	color: #FFFFFF;
	background-color: #f44336;
	font-family: "Roboto", "Roboto", sans-serif;
	width: 100%;
	font-size: 12px;
	margin-top: 3px;
	padding: 10px;
	transition-property: background-color, color;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

	#submit1:active {
		box-shadow: 0px 0px 5px 1px yellow;
	}
/* INSIDE LIST */
#designer_calendar {
	height: 30.9%;
	resize: vertical;
	overflow: auto;
	border: solid 1px #f2f2f2;
	border-top: solid 2px #3498db;
	min-height: 40px;
}

#actual_calendar {
	height: 30.9%;
	resize: vertical;
	overflow: auto;
	border: solid 1px #f2f2f2;
	border-top: solid 2px #3498db;
	min-height: 40px;
	-webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
	box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

#activity_logs {
	height: 30.9%;
	resize: vertical;
	overflow: auto;
	border: solid 1px #f2f2f2;
	border-top: solid 2px #3498db;
	min-height: 40px;
	-webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
	box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

/* FOR TABLES */
.table_title {
	color: #0747a6;
	display:table-cell;
}

.table_container {
	resize: vertical;
	overflow:auto;
	border-bottom: solid 1px #717171;
}

#margin_top {
	height:20%;
	min-height:100px;
}

input[type=submit] {
	cursor:pointer;
}

.subheader {
	background-color:  #f2f2f2;
	display: inline-block;
	width: 97%;
	text-align: center;
	color: #515151;
	padding:16px;
}

.datalist, #datalist, #project_list, #designerdatalist {
	display: none;
	position: fixed;
	background-color: #FFFFFF;
	height: auto;
	width: 19%;
	max-height: 280px;
	overflow: auto;
	z-index: 12;
}

	.datalist h4, #datalist h4, #project_list h4, #designerdatalist h4 {
		cursor: pointer;
		margin: 0px;
		margin-left: 2%;
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		color: #295A8A;
		font-size: 12px;
	}

		.datalist h4:hover, #datalist h4:hover, #project_list h4:hover, #designer_list h4:hover, #designerdatalist h4:hover {
			background-color: #295A8A;
			color: white;
		}

/*SEARCHBOX*/
#mainform #list .search_group {
	width:auto;
	display:table-cell;
	margin:0px;
	padding:0px;
}

    #mainform #list .search_group .searchbox {
            width: 200px;
            border: solid 1px #515151;
            display: table-cell;
            margin: 0px;
    }

    #mainform #list .search_group .option {
            width: auto;
            border: none;
            display: table-cell;
            margin: 0px;
    }

    #mainform #list .search_group .searchbtn {
            display: table-cell;
            width: 50px;
            height:39px;
            border: none;
            background-image: url('../img/search.png');
            background-size:50px 39px;
            background-color:transparent;
    }
    
    #mainform #list .search_group .searchbtn:hover {
            background-color: #e0e0e0;
    }


/*GENERAL TABLE*/
.general_table {
	border-collapse: collapse;
}
	.general_table thead {
		/*border-bottom: solid 1px #ececec;*/
	}
        
	.general_table th {
            width: auto;
            padding: 4px;
            text-align:left;
            font-family:"Product Sans";
            font-size:14px;
            font-weight:normal;
            white-space: nowrap;
            padding-top: 10px;
            padding-bottom: 10px;
            color:#3B80E0;
	}

	.general_table td {
            padding: 4px;
            font-family:"Product Sans",sans-serif;
            font-size:12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-top: 10px;
            padding-bottom: 10px;
	}

		 td :not(p) {
			background-color: transparent;
            font-family:"Product Sans",sans-serif;
		}

	.general_table tbody tr{
            border-top:solid 1px #ececec;
	}

.nowrap {
	white-space: nowrap;
}

#mainform .general_table tbody tr td input[type=time]{
	width: 99%;
	margin: 0px;
	padding: 4px;
	border: none;
	background-color: inherit;
        font-family:"Avenir LT Std 55 Roman",sans-serif;
        font-size:14px;
}
#mainform .general_table tbody tr td input[type=text] {
	width: 99%;
	margin: 0px;
	padding: 4px;
	border:none;
	background-color:inherit;
        font-family:"Avenir LT Std 55 Roman",sans-serif;
        font-size:14px;
}
#mainform .general_table tbody tr td select {
    border:none;
    font-family:"Avenir LT Std 55 Roman",sans-serif;
    font-size:14px;
}
#mainform #info input[type=date] {
    margin: 0px;
    padding: 4px;
    border: none;
}

.stack-h {
	display: inline-block;
	width: 40%;
}



/* FOR BUTTON */
.btn-normal {
    cursor:pointer;
    padding:5px;
    border:none;
    border-radius:5px;
}
.btn-normal:hover{
    filter:brightness(75%);
}

.btn-no {
    cursor:default;
    padding:5px;
    border:none;
    border-radius:5px;
} 
.btn-small{
	cursor:pointer;
	width:25px;
	height:25px;
}

.btn-small:hover{
	box-shadow: 0px 0px 2px 0px;
}

.btn-green {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 4px 12px 4px 12px;
	border-radius: 10px;
	font-size: 18px;
	box-shadow: 4px 4px 0px green;
}

	.btn-green:active {
		margin: 0px 0px 0px 4px;
		box-shadow: none;
	}

.btn-red {
	background-color: #ed1c26;
	border: none;
	color: white;
	border-radius: 10px;
	font-size: 18px;
	box-shadow: 4px 4px 0px #cc0000;
}

	.btn-red:active {
		margin: 0px 0px 0px 4px;
		box-shadow: none;
	}

.btn-hide{
    display:none;
}

.btn-show{
    display:inline-block;
}
        
.note {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
	margin:4px 0px 4px 0px;
}

/* Mini Header */
.miniheader {
	padding: 4px;
        margin-left:10px;
        background-color:#f7f9fa;
}

/* Container */
.container2 {
	height:auto;
        border-radius: 4px;
        border: 1px solid #eaeaea;
        padding: 26px 34px;
        align-items: center;
        margin:10px;
        background-color:#ffffff;
        
}


/*FOR TEXT*/
#mainform .big-text {
	font-size:40px;
}

#mainform .normal {
	font-weight:normal;
}

#mainform .bold {
	font-weight:bold;
}

/* FOR TEXTAREA*/
#mainform .textarea {
	padding:4px;
}

/* FLOAT */
.float-left {
	float:left;
}
.float-right {
	float:right;
}
/* CLEAR FLOAT*/
#mainform .clear-left {
	clear:left;
}

#mainform .clear-right {
	clear: right;
}

/* FOR WIDTH*/
#mainform .width-10pc {
	width:10%;
}
#mainform .width-20pc {
	width: 20%;
}
#mainform .width-30pc {
	width: 30%;
}
#mainform .width-40pc {
	width: 40%;
}
#mainform .width-45pc {
	width: 45%;
}

#mainform .width-48pc {
	width: 48%;
}
#mainform .width-50pc {
	width: 50%;
}
#mainform .width-60pc {
	width: 60%;
}
#mainform .width-70pc {
	width: 70%;
}
#mainform .width-80pc {
	width: 80%;
}
#mainform .width-90pc {
	width: 90%;
}

#mainform .width-99pc {
	width: 99%;
}

#mainform .width-100pc {
	width: 100%;
}

/* FOR HEIGHT*/
.height-10pc {
	height: 10%;
}

.height-20pc {
	height: 20%;
}

.height-30pc {
	height: 30%;
}

.height-40pc {
	height: 40%;
}

.height-50pc {
	height: 50%;
}

.height-60pc {
	height: 60%;
}

.height-70pc {
	height: 70%;
}

.height-80pc {
	height: 80%;
}

.height-90pc {
	height: 90%;
}

.height-95pc {
	height: 95%;
}

#mainform .height-100pc {
	height: 100%;
}

/* COLORS */
#mainform .blue{
	color:#3399FF;
}
#mainform .white {
	color: white;
}
#mainform .red {
	color: #ed1c26;
}
#mainform .green {
	color: #4caf50;
}
#mainform .lightGray {
	color: #767676;
}
#mainform .popBgColor {
	color: #34495e;
}
#mainform .yellow {
	color: #ffc107;
}
#mainform .gray {
        color: #34495e;
}

/* BACKGROUND COLOR*/
.bg-blue {
	background-color: #3399FF;
}
.bg-white {
	background-color: white;
}
.bg-red {
	background-color: #ed1c26;
}
.bg-green {
	background-color: #4caf50;
}
.bg-gray {
	background-color: #34495e;
}
.bg-yellow {
	background-color: #ffc107;
}

/* BORDERS */
.border-green {
	border: solid 2px #4caf50;
}

.border-red {
	border: solid 2px #ed1c26;
}

.border-blue {
	border: solid 2px #2196F3;
}

.border-yellow {
	border: solid 2px #ffc107;
}

.border-white {
	border: solid 2px white;
}

.border-gray {
	border: solid 2px #34495e;
}
/* MARGIN */
#mainform .margin-0 {
	margin:0px;
}

#mainform .margin-2px {
	margin: 2px;
}

#mainform .margin-4px {
	margin: 4px;
}

#mainform .margin-l-4px {
	margin-left: 4px;
}

#mainform .margin-l-10pc {
	margin-left: 10%;
}

.margin-r-10px{
    margin-right:10px;
}

/* PADDING */
#mainform .padding-0 {
	padding: 0px;
}

#mainform .padding-4px {
	padding:4px;
}

#mainform .padding-7px {
	padding: 4px;
}

/* Direct */
 #dname_list{
	max-height:200px;
 }

.popUpBg,.static_bg {
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
}

.popUp,.popUpSubmit {
	position: fixed;
	top: 25%;
	width: 50%;
	height: 50%;
	left: 25%;
	right: 25%;
	min-width: 400px;
	min-height: 400px;
	box-shadow:3px 3px 10px 3px;
        z-index:20;
}
/* Selected */
.selected {
	box-shadow: 0px 0px 3px 5px #2196f3 inset;
}

/* Clickable */
.clickable {
	cursor:pointer;
}
	.clickable:hover {
		box-shadow: 0px 0px 10px 0px #2196F3 inset;
	}
	.clickable:active {
		box-shadow: 0px 0px 20px 0px #2196F3 inset;
	}
.clickme {
	cursor:pointer;
}

/* Non-Clickable */
.non-clickable {
	cursor:default;
}
/* Visibility */
.visible {
	visibility:visible;
}
.hidden {
	visibility:hidden;
}

/* Display */
#mainform .display-none {
	display:none;
}
#mainform .display-block {
	display:block;
}
#mainform .display-inline {
	display:inline;
}

/* FONT */
.bigBtn-text {
	font-size:18px;
}

/* Opacity */
.opacity-9 {
	opacity:0.9;
}
.opacity-8 {
	opacity: 0.8;
}
.opacity-7 {
	opacity: 0.7;
}
.opacity-6 {
	opacity: 0.6;
}
.opacity-5 {
	opacity: 0.5;
}
.opacity-4 {
	opacity: 0.4;
}

/* Signals */
.success {
	box-shadow: 0px 0px 8px 2px inset #4caf50;
}

.warning {
	box-shadow: 0px 0px 8px 2px inset #ffff00;
}

.danger {
	box-shadow: 0px 0px 8px 2px inset #ed1c26;
}

/* for ratings (img:Star)*/
.star-active {
	background:url(../img/ystar.png);
}

#info_module {
	border-left: none;
	border-right: none;
	border-bottom: none;
}

	#info_module legend {
		margin-left: auto;
		margin-right: auto;
	}

/* Simple table */
.simple_table {
	border-collapse: collapse;
	border: solid 1px #ccc;
	border-radius: 4px;
	width: 550px;
}

	.simple_table thead tr {
		background-color: #34495e;
		color: white;
	}

		.simple_table thead tr th, .simple_table tbody tr td {
			border: solid 1px #ccc;
			text-align: left;
		}

#mainform .simple_table thead tr th h3 {
	margin: 0px;
}

#mainform .simple_table tbody tr td input[type=number] {
	margin: 0px;
	border: none;
	width: 100%;
}

#extra_activity_div{
    position:fixed;
    width:100%;
    height:50%;
    min-width:500px;
    min-height:300px;
    text-align:center;
    margin-top:10%;
    background-color:white;
    display:none;
}

#close_button{
    font-size:30px;
}

.pop_tbl1{
    display:inline-block;
}

.pop_tbl1 thead tr,.pop_tbl1 tbody tr {
   text-align:left;
}

.pop_tbl1 input[type=time],input[type=date]{
    width:140px;
}

#checklist_container{
    overflow-y:auto;
    background-color:#eef1f2;
    box-shadow:-2px 2px 4px inset;
    display: inline-block;
}

ul{
    list-style-type: none;
}

.tag_box{
    border-radius:4px;
    border:solid 1px #cccccc;
    margin:4px;
    padding:4px;
    box-shadow:-2px 2px 4px;
    display:inline-table;
    background-color:white;
    width:30%;
}

.tag_box ul{
    padding-left:16px;
}

hr{
    background-color: #ececec;
}

#mainform .emphasize{
    font-size:14px;
    font-weight:bold;
}

#asselect,.asselect{
    margin:0px;
    background-color:white;
    box-shadow:0px 2px 4px 4px #e2e8ee;
    border-radius:4px;
    max-height:300px;
    overflow-y:auto;
    display:none;
  }
  
  .asoption{
    cursor:pointer;
    margin:0px;
    padding:5px;
    font-size: 14px;
    font-weight: 600;
    text-align:left;
    padding-left:20px;
    color: #444f5d;
    border-bottom:solid 1px #ececec;
  }
  
  .asoption:hover{
      background-color:#3276B1;
      color:white;
  }
  
  .asoption .username{
      font-weight:normal;
      right:0px;
  }
  
  .assign_link{
      color:#94b3e0;
      font-weight:bold;
      font-size:21px;
      cursor:pointer;
      margin:0px;
      padding:0px;
  }
  
  .assign_link:hover{
      color:#3B80E0;
  }
  
  .delete_link{
      color:#E09499;
      font-weight:bold;
      font-size:14px;
      cursor:pointer;
      margin:0px;
      padding:0px;
  }
  
  .delete_link:hover{
      color:#E03A48;
  }
  
  .loader_bg{
    display:none;
    position:fixed;
    left:0px;
    top:0px;
    background-color:#ffffff;
    opacity:0.8;
    width:100%;
    height:100%;
    z-index:100;
  }
  
  .loader {
    display:none;
    position:fixed;
    top:40%;
    left:45%;
    z-index:101;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#background_data{
    display:none;
}

#xbtn{
    position:absolute;
    right:0px;
    top:0px;
    margin:0px;
}

.dropdown{
    width:100%;
    padding: 4%;
    margin: 8px 0;
}

/* Specified style */
#sidebar{
    position:absolute;
    margin:0px;
    padding:0px;
    width:210px;
    background-color:#0747a6;
    color:#0747a6;
    display:none;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:4px;
    opacity:0.9;
}

#sidebar ul{
    margin:0px;
    padding:0px;
}

#sidebar ul li{
    text-align: center;
    color: #0747a6;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    font-family: "Avenir LT Std 55 Roman",sans-serif;
    margin: 2px;
    margin-left:10px;
}

#sidebar ul li:hover{
    filter:brightness(100%);
}

#sidebar ul li div.nav-btn{
    background-color:#0747a6;
    text-align: center;
    color: #deebff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    font-family: "Avenir LT Std 55 Roman",sans-serif;
    margin: 0px;
    padding: 5px;
    width:180px;
}

#sidebar ul li div.nav-btn:hover{
    filter:brightness(75%);
    box-shadow: 0px 0px 1px 2px #0747a6 inset;
}

.center{
    margin:0 auto;
}

#mainform input[type="time"].classy-time,#mainform input[type="date"].classy-date{
    padding-left: 0px;
    padding-right:0px;
    border:none;
    background-color:#f7f9fa;
    cursor:text;
    font-family: "Product Sans";
    font-size: 20px;
    color: #515151;
}

#pop_bnc_bg{    
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.7;
    background-color:#34495e;
    z-index:10;
}

#pop_bnc{
    display:none;
    width:20%;
    height:430px;
    position:fixed;
    margin:5% 40%;
    background-color:white;
    border-radius:4px;
    box-shadow: 0px 0px 3px 0px;
    padding:10px;
    z-index:11;
}

#th_acc,#th_or,#th_action,#th_amountpaid{
    display:none;
}

.tbl-tab-group{
      position:fixed;
      padding-left:25px;
      top:115px;
  }
  
  .tbl-tab{
      font-size:16px;
      font-weight:bold;
      display:inline-block;
      background-color:#f7f9fa;
      border-radius:4px;
      padding:10px 17px;
      cursor:pointer;
      filter:brightness(100%);
  }
  
  .tbl-tab:hover{
      filter:brightness(75%);
  }
  
  .active-tbl-tab{
      border-radius:4px 4px 0px 0px;
      background-color:#f7f9fa;
      border-bottom: solid 2px #f7f9fa;
      border-top:solid 2px #ececec;
      border-left:solid 2px #ececec;
      border-right:solid 2px #ececec;
  }
  
  #shortcut_name{
      font-size:30px;
      font-weight:bold;
      margin-left:30px;
  }
  
  #percent_holder{
      position:fixed;
      right:50px;
      top:70px;
  }
  
  #percent_bar{
      border-radius:4px;
      border:solid 4px #515151;
      width:208px;
      height:22px;
      display:inline-block;
      
  }
  
  #progress{
      background-color:red;
      width:0px;
      height:22px;
  }
  
  #total_amount{
      font-size:50px;
  }
  
  .container2{
      margin-top:130px;
  }
  
  #pop_billing_bg{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.7;
    background-color:#34495e;
    z-index:10;
}

#pop_billing{
    display:none;
    width:20%;
    height:300px;
    position:fixed;
    margin:10% 40%;
    background-color:white;
    border-radius:4px;
    box-shadow: 0px 0px 3px 0px;
    padding:10px;
    z-index:11;
}


#designerdl_pop{
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px;
    position: fixed;
}