/* UPDATED GENERIC STYLESHEET */

body {
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 12px;
	margin: 0px;
	padding:0px;
	background-color: #f2f2f2;
	overflow: hidden;
}

/* FONTS */

#login_lbl {
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 16px;
	margin-top: 15px;
	color:  #FFFFFF;
}

/* END FONTS */

/* ANIMATIONS */

/* END ANIMATIONS */

/* FOR LOGIN PAGE */

#input_un, #input_pw {
	width: 200px;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 12px;
	padding: 5px;
	border: none;
	margin-bottom: 15px;
}

#input_un:hover {
	box-shadow: 1px 1px 5px #000000;
}

#input_pw:hover {
	box-shadow: 1px 1px 5px #000000;
}


#form_c {
	text-align: center;
}

#login_page {
	overflow: none;
}

#logo_login {
	padding: 10px;
}

#login {
	margin-top: 35px;
	height: 100%;
}

#login_form {
	overflow: hidden;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	background-color: #003399;
	width: 35%;
	height: 420px;
	box-shadow: 1px 1px 10px #000000;
}

#login_btn {
	margin-top: 5%;
	width: 40%;
	height: 20%;
	border: none;
	background-color: #339999;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 24px;
	color: #333333;
	transition-property: color, background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#login_btn:hover {
	color: #FFFFFF;
	box-shadow: 1px 1px 10px #000000;
}

/* END LOGIN PAGE */

/* HOME PAGE */

#mainform {
	height: 100%;
	margin-left:10%;
	overflow-y: scroll;
}

#info {
	margin-top: 55px;
	margin-left: 50px;
	display: inline-block;
	position: absolute;
	width: 25%;
	height:85%;
	transition-property: transform;
	transition-duration: 0.2s;
    transition-timing-function: linear;
	overflow: hidden;
}

#list {
	background-color: #FFFFFF;	
	margin-top: 55px;
	padding:0;
	width:70%;
	display:inline-block;
	float:right;
	border:1px solid #cccccc;
	height:85%;
	overflow-y: scroll;
	transition-property: width;
	transition-duration: 0.2s;
    transition-timing-function: linear;
}

#Activity {
	width: 100%;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 12px;
	resize: none;
}

#activitylist {
	width: 100%;
}

#activitylist th {
	color: #FFFFFF;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 12px;
	background-color: #003399;
	border-collapse: collapse;
	border: none;
}

#activitylist td {
	text-align: center;
	border-collapse: collapse;
	padding: 2px;
	border: none;
	border-top: 3px solid #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
}

#activitylist input[type=text], #activitylist input[type=time], #activitylist input[type=date] {
	text-align: center;
	border: none;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 12px;
	margin: 0px;
	border: none;
}

#act_desc {
	padding: 3px;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 12px;
}

#activitylist textarea {
	border-radius: 0px;
	border: none;
	resize: none;
}

#editbtn {
	border: none;
	color: #FFFFFF;
	padding: 5px;
	background-color: #03a9f4;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 16px;
	transition-property: background-color;
	transition-duration: 0.2s;
    transition-timing-function: linear;
}

#editbtn:hover {
	background-color: #01579b;
}

#activity_desc, #comments {
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 12px;
	width: 100%;
	padding: 3px;
	resize: none;
}


/* UPDATA */

/* lists */
#pNumberB, #pNumberNB, #proj_num, #obDat, #otDat, #ticket, #pNumber, #Designer {
	width: 100%;
	height: 40px;
	padding: 5px;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 14px;
	margin-bottom: 10px;
}

#label1, #label2 {
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 14px;
	margin-right: 90px;
}

#submit1 {
	border: none;
	border-radius: 3px;
	color: #FFFFFF;
	background-color: #f44336;
	font-family: "Roboto", "Roboto", sans-serif;
	width: 100%;
	font-size: 12px;
	margin-top: 3px;
	padding: 10px;
	transition-property: background-color, color;
	transition-duration: 0.2s;
    transition-timing-function: linear;
}

#submit1:hover {
	background-color: #b71c1c;
}

#inptext1, #inptext2 {
	width: 100px;
	height: 35px;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 16px;
	margin-right: 20px;
}

#addbtn {
	border: none;
	border-radius: 3px;
	color: #FFFFFF;
	background-color: #66bb6a;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 16px;
	padding: 10px;
	transition-property: background-color, color;
	transition-duration: 0.2s;
    transition-timing-function: linear;
}

#addbtn:hover {
	background-color: #43a047;
}

#rev_date {
	width: 50%;
	height: 20px;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 16px;
	margin-right: 25px;
	margin-bottom: 5px;
}


/* END HOME PAGE */

/* DEADLINE PAGE */

#d_head_c {
	overflow: hidden;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#d_head {
	font-size: 24px;
	background-color: #3498db;
	width: 100%;
	padding: 7px;
	color: #f2f2f2;

}

#deads {
	margin: 0px;
	overflow-y: scroll;
	width: 100%;
	height: 82%;
}

#d_list {
	width: 100%;
}

#d_info {
	height: 50px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
	transition-property: background-color, color;
	transition-duration: 0.2s;
    transition-timing-function: linear;
}

#d_info:hover {
	background-color: #cccccc;
}

/* END DEADLINES */

/* REVIEWERS PAGE */

#rev_tabs {
	list-style-type: none;
	display: block;
	width: 100%;
}

#rev_tab {
	display: inline-block;
	font-family: "Roboto", "Roboto", sans-serif;
	font-size: 16px;
	background-color: #3498db;
	color: #f2f2f2;
	cursor: pointer;
	border-right: 1px solid #cccccc;
	transition-property: background-color, color;
	transition-duration: 0.2s;
    transition-timing-function: linear;
}

#rev_tab:hover {
	background-color: #21618C;
}

#tabs {
	background-color: #3498db;
	float: left;
}