/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2019, 1:47:57 PM
    Author     : vgalvoso
*/
@font-face {
    font-family: "Product Sans";
    src: url("../font/Product Sans Bold Italic.ttf");
    src: url("../font/Product Sans Italic.ttf");
    src: url("../font/Product Sans Bold.ttf");
    src: url("../font/Product Sans Regular.ttf");
}

body{
    font-family:"Product Sans";
}