/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 19, 2019, 5:58:53 PM
    Author     : vgalvoso
*/


ul.select-dropdown,
ul.dropdown-content {
  width: auto !important;

  li > span {
    white-space: nowrap;
  }
}

#dropdown1{
    top:-64px;
}

#department{
	color: #636b6f;
    font-weight: 100;
	font-size: 84px;
	margin-bottom: 30px;
	text-align: center;
}

.links{
	    text-align: center;
		color: #636b6f;
    font-weight: 200;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
	cursor: pointer;
	text-align: center;
}
